  
  .user {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  .user td, .user th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user tr:nth-child(even){background-color: #f2f2f2;}
  
  .user tr:hover {background-color: #ddd;}
  
  .user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #bd61ec;
    color: white;
  }